@use '../settings/colors.scss' as *;
@use '../settings/variables.scss' as *;

.editorcardLarge {
  .smartphone {
    transition: transform 0.5s $ease-out;
    transform: translateY(30px);
  }

  .filter {
    opacity: 0;
    transition: opacity 0.5s;
    background: 
    radial-gradient(rgba(47, 35, 80, 0.66) 70%, rgba(47, 35, 80, 0) 150%);
  }

  @media screen and (hover: hover) {
    &:hover {
      .smartphone {
        transform: translateY(-0px);
      }
  
      .image {
        filter: blur(7px);
      }
  
      .filter {
        opacity: 0.5;
      }
    }
  }
}

