@use "@/styles/settings/bp" as *;
@use "@/styles/settings/variables" as *;

.videoW {
  &::after {
    position: absolute;
    z-index: var(--z-index-1);
    display: block;
    border: 1px solid rgb(255 255 255 / 0.3);
    border-radius: 0.75rem;
    content: "";
    width: calc(100% - size(2));
    height: calc(100% - 1px);
    top: 0;
    left: size(1);
    pointer-events: none;

    @media screen and (min-width:$md){
      width: calc(100% - size(4));
      left: size(2);
    }

    @media screen and (min-width:$lg) {
      width: calc(100% - size(8));
      left: size(4);
    }
  }
}

.filter {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 100%);
}