version: "3"

services:
  eyf-front:
    container_name: nextjs
    image: eyf-front:latest
    build:
      context: ./
      dockerfile: Dockerfile
    volumes:
        - .:/app
        - /app/node_modules
        - /app/.next
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true