@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  *:focus-visible {
    @apply outline-none;
  }
}

/* Lenis Config */

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

html {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fcfcfc;
}

*::selection {
  @apply text-dashboard-text-title-white-high bg-blueBerry;
}

/* Font  */

@font-face {
  font-family: N27;
  src: 
    url('/fonts/n27/N27-Medium.woff') format("woff"),
    url('/fonts/n27/N27-Medium.woff2') format("woff2"),
    url('/fonts/n27/N27-Medium.otf') format("otf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: N27;
  src: 
    url('/fonts/n27/N27-Light.woff') format("woff"),
    url('/fonts/n27/N27-Light.woff2') format("woff2"),
    url('/fonts/n27/N27-Light.otf') format("otf");
  font-weight: 300;
  font-display: swap;
}

/* hide input arrows */
input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/** input **/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 14px;
  background: linear-gradient(3.18deg, #2c333a -23.31%, #1c1e22 59.29%);
  box-shadow: inset -1.76991px -1.76991px 4.42478px rgba(255, 255, 255, 0.06),
    inset 1.76991px 2.65487px 7.07965px #070709;
  border-radius: 27px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 43px;
  height: 35px;
  background: #fff;
  cursor: pointer;
  border-radius: 29px;
}

input[type="range"]::-moz-range-thumb {
  width: 43px;
  height: 35px;
  background: #fff;
  cursor: pointer;
}