@use '../settings/variables.scss' as *;

.split-word,
.split-line,
.split-char,
.split-content {
  position: relative;
}

.split-word {
  white-space: nowrap;
}

.split-char {
  display: inline-block;
  overflow: hidden;
}

.char-content {
  --delay: calc(var(--char-delay) * var(--split-char-i) + var(--word-delay) * var(--split-word-i) + var(--line-delay) * var(--split-line-i));

  display: inline-block;
  line-height: 1.15;
}

.anim-title {
  --char-delay: calc(0.002s + var(--char-delay-add));
  --word-delay: 0s;
  --line-delay: 0.05s;
  
  --duration-var: 0s;
  --main-duration: 0.9s;
  --duration: calc(var(--main-duration) + var(--duration-var));

  .char-content {
    transform: translateY(120%);
    transition: transform var(--duration) var(--delay) $ease-out;
  }

  &.fromRight {
    .char-content {
      transform: translateX(120%);
    }
  }
}

.inView {
  .anim-title {
    .char-content {
      transform: translateY(0);
    }
  }
}

.anim-cta{
  @media screen and (hover: hover) {
    .char-content {
      --char-delay: 0.005s;
      --word-delay: 0s;
      --line-delay: 0s;

      transform: translateY(120%);
      transition: 
        transform 0.5s var(--delay) $ease-out;

      &::before {
        content: attr(split-content);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        transform: translateY(-120%);
        transition: 
          opacity 0.3s var(--delay) $ease-out;
      }
    }

    &:hover {
      .char-content {
        transform: translateY(0%);

        &::before {
          opacity: 0;
        }
      }
    }
  }
}

.anim-cursor {
  .char-content {
    --char-delay: 0.005s;
    --word-delay: 0s;
    --line-delay: 0s;
    --delay: calc(0.2s + var(--char-delay) * var(--split-char-i) + var(--word-delay) * var(--split-word-i) + var(--line-delay) * var(--split-line-i));

    transform: translateY(120%);
    transition: 
      transform 0.5s $ease-out;
  }

  &.active {
    .char-content {
      transition-delay: var(--delay);
      transform: translateY(0%);
    }
  }
}

.anim-title-reveal {
  --direction: 1;

  .char-content {
    transform: translateY(calc(120 * var(--direction) * 1%));
  }

  &.title-active {
    .char-content {
      transform: translateY(0);
    }
  }
}